@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
}

p {
  font-size: 23px;
}

/* initials */
a {
  text-decoration: none;
  color: white;
}

.nav-items {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

button {
  border: 0;
  border-radius: 35px;
  padding: 0.5em;
  color: white;
}
/* navbar */
/* colors */
.nav-main-page-color {
  background-color: #132e65;
}

.nav-muratas-page-color {
  background-color: #f57a7a;
}
.nav-container {
  /* background-color: #132e65; */
  display: flex;
  justify-content: space-between;
  padding: 1em 5%;
  font-weight: 600;
}

.nav-item {
  padding-top: 0.4em;
  font-size: 1em;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.logo {
  font-size: 1.5em;
}

/* hero section */

.hero {
  padding: 0% 5%;
  background-color: #8cc0de;
  color: white;
  text-align: left;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./assets//test.svg");
}

.hero-muratas {
  padding: 0% 5%;
  background-color: #f78f8f;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 94vh;
  flex-direction: column;
}

.flex-title {
  font-size: 5rem;
}

.title {
  padding-top: 15%;
  font-size: 4em;
  font-weight: 600;
  max-width: 600px;
}

.hero-btn {
  margin-top: 2em;
  background-color: #f06c6c;
  font-size: 2.3em;
  font-weight: 600;
}

.visit-btn {
  background-color: #f8af7f;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  width: 6em;
  height: 3em;
  margin-right: 0.5em;
}

/* about */
/* container */
.container {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.big-image {
  width: 500px;
}

.feature-image {
  width: 350px;
}

.about-content {
  width: 600px;
  padding: 30px;
  font-size: 23px;
}

.description-content {
  width: 500px;
  padding: 30px;
  font-size: 23px;
}

.about-title {
  color: #f8af7f;
  font-size: 2em;
}

.feature-title {
  font-size: 5em;
  color: #f8af7f;
}

.feature-text {
  font-size: 1.5em;
  font-weight: 600;
}

.text-box {
  /* width: 90%; */
  /* padding: 0 15%; */
}

.attention-text,
.tools {
  color: #f78f8f;
  font-weight: 700;
}

/* project description */
.murtatas-section {
  background-color: #f78f8f;
  color: white;
}

.project-details {
  width: 500px;
  /* padding: 30px; */
  /* text-align: left; */
  padding: 0;
  margin: 0;
}

.project-title {
  font-size: 5em;
  font-weight: 900;
}

.project-info {
  font-size: 2em;
  font-weight: 500;
}

.project-tools-used {
  font-size: 26px;
  font-weight: 300;
}

.link-btn {
  background-color: #f8af7f;
  border-radius: 35px;
  font-size: 32px;
  padding: 10px 50px;
  font-weight: 300;
  cursor: pointer;
}

.bg-orange {
  background-color: #f8af7f;
}

.bg-blue {
  background-color: #6fafd3;
}

.bg-pink {
  background-color: #f06c6c;
}

.bg-light-pink {
  background-color: #f78f8f;
}

.text-white {
  color: white;
}

.icon {
  width: 75px;
  height: 75px;
}
.links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fact-item {
  border-bottom: 12px solid #f68f8f;
  padding: 5px;
  margin: 2px;
  font-size: 1.5em;
}

footer {
  text-align: center;
  padding: 2%;
}

/* scroll down btn 
https://codepen.io/harshendra-prajapati/pen/BaQRdWV
*/
.scroll-down-animation {
  left: 50%;
  transform: translateY(0%) rotate(45deg);

  opacity: 0;
}
@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

.normal-img {
  display: none;
}

@media only screen and (max-width: 1122px) {
  .right-img {
    display: none;
  }

  .normal-img {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  /* .nav-container {
    justify-content: left;
    padding: 3px;
    margin: 0;
  } */

  .logo {
    font-size: 1em;
  }
  .nav-item {
    font-size: 0.8em;
    gap: 0;
  }
  .title,
  .flex-title {
    font-size: 3em;
  }

  .link-btn {
    font-size: 25px;
    padding: 10px 40px;
  }

  .nav-items {
    gap: 7px;
  }

  .big-image {
    width: 100%;
  }

  .project-title {
    font-size: 3em;
  }

  .container {
    gap: 30px;
  }

  /* .title {
    font-size: 2em;
  } */

  .mail {
    font-size: 1em;
  }

  .feature-title {
    font-size: 2em;
  }
}
