.big-card{
    background: #73AED0;
    margin: 3%;
    padding: 1rem 2rem;
    border-radius: 35px;
    
}


.row{
    display: flex;
  }

.col-10{
    float: left;
    width: 83.33%;
}

.col-5{
    float: left;
    width: 41.66%;
}

.col-2{
    float:left;
    width: 16.66%
}

.col-1{
    float: left;
    width: 8.33%;
}

.right{
    float: right;
}
.icon{
    margin-top: 1.5rem ;
    margin-left: 1rem;
}