@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
}

/* initials */
a {
  text-decoration: none;
  color: white;
}

.nav-items {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

button {
  border: 0;
  border-radius: 35px;
  padding: 0.5em;
  color: white;
}
/* navbar */
.nav-container {
  background-color: #6fafd3;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: 600;
}

.nav-item {
  padding-top: 0.4em;
  font-size: 1em;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.logo {
  font-size: 1.5em;
}

/* hero section */

.hero {
  background-color: #8cc0de;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.title {
  font-size: 5em;
  font-weight: 600;
}

.hero-btn {
  margin-top: 2em;
  background-color: #f8af7f;
  font-size: 2.3em;
  font-weight: 600;
}

.visit-btn {
  background-color: #f8af7f;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  width: 6em;
  height: 3em;
  margin-right: 0.5em;
}

/* about */
/* container */
.container {
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.big-image {
  width: 500px;
}
.about-content {
  width: 600px;
  padding: 30px;
}

.about-title {
  color: #f8af7f;
  font-size: 2em;
}

.attention-text,
.tools {
  color: #f78f8f;
  font-weight: 700;
}

/* project description */
.murtatas-section {
  background-color: #f78f8f;
  color: white;
}

.project-details {
  width: 500px;
  /* padding: 30px; */
  text-align: left;
  padding: 0;
  margin: 0;
}

.project-title {
  font-size: 5em;
  font-weight: 900;
}

.project-info {
  font-size: 2em;
  font-weight: 500;
}

.project-tools-used {
  font-size: 26px;
  font-weight: 300;
}

.link-btn {
  background-color: #f8af7f;
  border-radius: 35px;
  font-size: 32px;
  padding: 10px 50px;
  font-weight: 300;
}

.bg-orange {
  background-color: #f8af7f;
}

.bg-blue {
  background-color: #6fafd3;
}

.bg-pink {
  background-color: #f06c6c;
}

.bg-light-pink {
  background-color: #f78f8f;
}

.text-white {
  color: white;
}
