@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html,
body {
  margin: 0;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  /* overflow-x: hidden; */
}

h1 {
  margin: 0;
}

/* initials */
a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1em;
}

button {
  border: 0;
  border-radius: 35px;
  padding: 0.5em;
  color: white;
}
/* navbar */
.nav-container {
  background-color: #6fafd3;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: 600;
}

.nav-item {
  padding-top: 0.4em;
  font-size: 1em;
}

.logo {
  font-size: 1.5em;
}

/* hero section */

.hero {
  background-color: #8cc0de;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.title {
  font-size: 5em;
  font-weight: 600;
}

.hero-btn {
  margin-top: 2em;
  background-color: #f8af7f;
  font-size: 2.3em;
  font-weight: 600;
}

.visit-btn {
  background-color: #f8af7f;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  /* padding: 1em 2em; */
  width: 6em;
  height: 3em;
  margin-right: 0.5em;
}

.card-description {
  font-weight: 500;
}

/* contact me section */
.contact-section {
  padding: 5em 2em;
  text-align: center;
}

.send-btn {
  margin-top: 1em;
  background-color: #f78f8f;
  font-size: 3em;
  border-radius: 0px;
  width: 100%;
  font-weight: 600;
}

/* @media only screen and (min-width: 800px) {

} */

/* @media only screen and (min-width: 1050px) {
 
} */
